html, body {
    margin: 0;
    padding: 0;
}

body::after {
    content: "" ;
    display: table ; /* NOTE: Display "block" does not seem to work with height: 0px. */
    height: 0px ;
}

.root-container {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.top-section {
    display: flex;
    align-items: center;
    height: 45px;
    border-bottom: 1px solid #eee;
}

.top-section > button {
    margin: 0 3px;
}
.top-section > div {
    margin: 0 10px;
}
.main-section {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.navigator {
    width: 230px;
    background: #f8f9fa;
    border-right: 1px solid #eee;
}

.explorer {

}

.breadcrumb-bar {
    height: 30px;
    flex: 1 1;
    padding: 3px;
    font-size: 0.9rem;
    border: 1px solid #eee;
}
.breadcrumb-bar > * {
    padding: 0 5px;
}
.search-bar {
    width: 300px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    font-size: 0.9rem;
    border: 1px solid #eee;
}

.search-bar > input {
    flex: 1;
    padding: 0 3px;
    border: none;
    height: 28px;
}
.search-bar i {
    margin: 0 10px;
}
.footer-section {
    display: inline-flex;
    height: 45px;
    align-items: center;
    padding: 0 10px;
    /* line-height: 40px; */
    border-top: 1px solid #eee;
}


.spacer {
    flex: 1 1;
}