<!DOCTYPE html>
<html lang="en" ng-app="BrowseAssist">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link rel="stylesheet" href="lib/angular-tree-control/css/tree-control.css">
    <link rel="stylesheet" href="styles/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
    <script src="lib/angular-tree-control/angular-tree-control.js"></script>
    <script>
        function loadJSFromModuleIfExists() {
            if (module.exports) {
                window.$ = window.jQuery = module.exports
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" onload="loadJSFromModuleIfExists()" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="scripts/app.js"></script>

    <title>Browse-Assist Demo</title>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
</head>
<body>
    <div class="root-container" ng-controller="RootController as rCtrl">
        <div class="top-section">
            <button ng-click="rCtrl.back()" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="Back">
                <i class="fas fa-arrow-left btn-sm"></i>
            </button>
            <button ng-click="rCtrl.forward()" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="Forward">
                <i class="fas fa-arrow-right"></i>
            </button>
            <button class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="Level Up">
                <i class="fas fa-arrow-up "></i>
            </button>
            <div class="breadcrumb-bar">
                <i class="fas fa-folder"></i>
                <i class="fas fa-angle-right"></i>
                <span>Computer</span>
                <i class="fas fa-angle-right"></i>
                <span>Users</span>
                <i class="fas fa-angle-right"></i>
                <span>Ashish Chopra</span>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search here">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <div class="main-section">
            <div class="navigator">
                <treecontrol class="tree-classic"
                    tree-model="rCtrl.treeModel"
                    selected-node="rCtrl.selectedNode"
                    options="rCtrl.treeOptions"
                    on-selection="rCtrl.nodeSelected(node, selected)">
                     {{node.name}}
                 </treecontrol>
            </div>
            <div class="explorer">
                <ui-view></ui-view>
            </div>
        </div>
        <div class="footer-section">
            <div>36 Items</div>
            <div class="spacer"></div>
            <div>
                <button type="button" class="btn btn-light btn-sm"  data-toggle="tooltip"
                    data-placement="top" title="Browse Assist View" ng-click="rCtrl.changeView('assist')" ng-class="{'active': rCtrl.currentState == 'assist'}">
                    <i class="devicon-webpack-plain"></i>
                </button>
                <button  type="button" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="top"
                    title="Thumbnail View" ng-click="rCtrl.changeView('home')" ng-class="{'active': rCtrl.currentState == 'home'}">
                    <i class="fas fa-th-large"></i>
                </button>
                <button type="button" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="top" title="List View">
                    <i class="fas fa-list-ul"></i>
                </button>
            </div>
        </div>
    </div>
</body>

</html>